@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-color: 230 35% 7%;
    --light-color: 231 77% 90%;
    --white-color: 0 0% 100%;
    

    /*font-family*/
    --ff-serif: "bellefair", serif;
    --ff-sans-cond: "barlow condensed", sans-serif;
    --ff-sans-normal:"barlow", sans-serif;
}

/*css rest*/

*,*::before,  *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}


  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*end of css rest*/

/*remove animations for people who've turned them off*/

@media (prefers-reduced-motion: reduce) {
    *,
    *::before
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.1ms !important;
        scroll-behavior: auto !important;
    }
}

/*utility class*/

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}



.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}



/*Body & container*/

.whole-body {
    font-family: var(--ff-sans-normal);
    color: hsl(var(--white-color));
    min-height: 100vh;
    font-size: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home {
    background-image: url(./assets/home/background-home-mobile.jpg);
   
}
.container {
    max-width: 23.438rem;
    text-align: center;
    margin-inline: auto;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background-color: hsl(var(--white-color));
    color: hsl(var(--dark-color));
    text-decoration: none;
    padding: 4rem 1rem;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms linear;
}


.skip-to-content:focus {
    transform: translateY(0);
}


/*navigation*/

.navigation {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0 55px 0;
}

.logo {
    max-height: 40px;
}

.right-sidebar button,
.tab-list-btn {
    border: none;
    background: none;
    cursor: pointer;
}

nav {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
   border-right: 5px solid hsl(var(--white-color) / 0);
   padding: 0.1rem 0;
   cursor: pointer;
   margin: 2rem 0;
}

ul li:hover,
ul li:focus,
.tab-list-btn:hover,
.tab-list-btn:focus {
   border-color: hsl(var(--white-color) / .4);
}

ul li.active,
.tab-list > [aria-selected="true"] {
    border-color: hsl(var(--white-color) / 1);
    color: hsl(var(--white-color) / 1);
}


li a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 400;
    font-family: var(--ff-sans-cond);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.025rem;
}

.number {
    color: var(--white-color);
    font-weight: 700;
    letter-spacing: 2.7px; 
    margin-right: 0.625rem;
}

.close-icon {
    cursor: pointer;
}


.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 18rem;
    height: 100%;
    transition: right 0.3s ease-in-out;
    background-color: hsl(var(--white-color) / 0.02);
    backdrop-filter: blur(1.5rem);
    z-index: 999;
}


.mobile-menu.active {
    right: 0;
    transition: right 0.3s ease;
}


.mobile-menu-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 2rem 0 2rem 2rem;
}

.close-icon {
    margin-left: auto;
    margin-bottom: 4rem;
    padding: 0 2rem 0 1rem;
    width: 4.5rem;
    transition: transform 500ms ease-in-out;
}


/*main*/

main {
    padding-inline: 1.1rem;
}


h1 {
   color: hsl(var(--light-color));
   font-family: var(--ff-sans-cond);
   text-transform: uppercase;
   letter-spacing: 4px;
   font-size: 0.938rem;
   font-weight: 400;
}

.space {
   display: block;
   color: hsl(var(--white-color));
   font-family:  var(--ff-serif);
   font-weight: 400;
   font-size: 5.1rem;
   text-transform: uppercase;
   margin-top: 10px;
}


p {
    color: hsl(var(--light-color));
    font-weight: 400;
    font-size: 1rem;
    font-family: var(--ff-sans-normal);
    line-height: 2;
    margin-top: 10px;
}


.explore-btn {
    display: grid;
    width: 9rem;
    height: 9rem;
    position: relative;
    place-items: center;
    margin-inline: auto;
    border-radius: 50%;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-family: var(--ff-serif);
    color: hsl(var(--dark-color));
    background-color: hsl(var(--white-color));
    text-decoration: none;
    z-index: 1;
    margin-top: 6rem;
}

.explore-btn::after {
    content: "";
    position: absolute;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    z-index: -1;
    background-color: hsl(var(--white-color) / .10);
    opacity: 0;
    transition: transform 500ms ease-in-out, opacity 500ms linear;
}

.explore-btn:hover::after,
.explore-btn:focus::after {
   transform: scale(1.5);
   opacity: 1;
   color: hsl(var(--white-color) / .5);
}

/*main*/



@media only screen and (min-width: 80rem) {

    .home {
        background-image: url(assets/home/background-home-desktop.jpg);
    }

    .container {
        max-width: 100%;
        display: grid;
        text-align: left;
       
    } 

    .navigation {
       padding: 25px 0 55px 40px;
       position: relative;
    }

    .divider-line {
    width: 41em;
    position: absolute;
    left: 9rem;
    z-index: 1;
    color: white;
    opacity: 0.14;
   }

    
    ul {
        display: flex;
        flex-direction: row;
        gap: 45px;
    }


    ul li {
        border-bottom: .2rem solid hsl(var(--white-color) / 0);
        border-right: none;
        padding: 2rem 0;
        margin: 0;
    } 

    li a {
        font-size: 1.1rem;
    }
    
    .mobile-menu {
        position: static;
        background: none;
        width: auto;
        padding-inline: 6rem;

    }

    .mobile-menu-inner {
        padding: 0  1rem;
    }

    .right-sidebar button {
        display: none;
    }

    .close-icon {
        display: none;
    }



    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: end;
        height: 67vh;
        padding-left: 6rem;
    }

    h1 {
        font-size: 1.813rem;
    }

    .space {
        font-size: 9rem;
    }

    p {
        font-size: 1.25rem;
        padding-right: 4rem;

    }

    .explore-btn {
        height: 15rem;
        width: 15rem;
        font-size: 1.8rem
    }
}

    
 /*destination mobile style*/

.destination {
    background-image: url(assets/destination/background-destination-mobile.jpg);
}



.number-title {
    font-weight: 700;
    margin-right: 0.938rem;
    color: hsl(var(--white-color) / .25);
    font-size: 1.2rem;
}


.first-paragraph-dest {
   color: hsl(var(--white-color));
   font-family: var(--ff-sans-cond);
   text-transform: uppercase;
   letter-spacing: 4.72px;
   font-size: 1.1rem;
   font-weight: 400;
}

.planet-image {
    width: 180px;
    height: 180px;
    margin-inline: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


h2 {
    font-size: 4rem;
    font-weight: 400;
    font-family: var(--ff-serif);
    text-transform: uppercase;
}

.tab-list {
    margin-left: 20px;
}

.tab-list-btn {
    color: hsl(var(--light-color));
    text-transform: uppercase;
    border-bottom: 3px solid hsl(var(--white-color) / 0);
    margin: 1rem 20px 1rem 0;
    font-family: var(--ff-sans-cond);
    letter-spacing: 2px;
    padding-bottom: 10px;
}


hr {
    opacity: 0.3;
    margin-top: 1rem;
}


h3 {
    font-weight: 400;
    color: hsl(var(--light-color) / 0.8);
    margin-top: 1.5rem;
    font-family: var(--ff-sans-cond);
    text-transform: uppercase; 
    letter-spacing: 2px;
    font-size: 17px;
}

.distance {
    color: hsl(var(--white-color));
    font-size: 2rem;
    font-family: var(--ff-serif);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2;
}

/*destination desktop style*/

@media only screen and (min-width: 80rem) {

    .destination {
        background-image: url(assets/destination/background-destination-desktop.jpg);
    }

    .planet-image {
        width: 450px;
        height: 450px;
        margin-top: 3rem;
    }

    .first-paragraph-dest {
        margin-left: 7rem;
        font-size: 1.4rem;
    }

    .number-title {
        font-size: 1.4rem;
    }

    .main-destination {
        padding-left: 0;
        margin-top: 1rem;
    }

    .distance-part {
        display: flex;
    }

    .explanation-side {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    .tab-list {
        margin-left: 0;
    }

    h2 {
        font-size: 6rem;
    }

    article p {
        margin-right: 4rem;
    }

}


/*crew mobile style*/

.crew {
    background-image: url(assets/crew/background-crew-mobile.jpg);
}

.crew-position {
    color: hsl(var(--white-color) / .5);
    font-family: var(--ff-serif);
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 3rem;
}

.crew-name {
    color: hsl(var(--white-color));
    font-family: var(--ff-serif);
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


.dot-indicators {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 4rem 0 2rem 0;
}

.dot-indicators-btn {
    border: 0;
    background: none;
    border-radius: 50%;
    background-color: hsl(var(--white-color) / .25);
    aspect-ratio: 1;
    padding: 0.359rem;
    cursor: pointer;
}

.dot-indicators-btn:hover,
.dot-indicators-btn:focus {
    background-color: hsl(var(--white-color) / .5);
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl(var(--white-color));
}


.crew-img {
    width: 290px;
    height: 350px;
    margin-inline: auto;
}


/*crew desktop style*/
@media only screen and (min-width: 80rem) {
    
    .crew {
        background-image: url(assets/crew/background-crew-desktop.jpg);
    }

   

    .content-section {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       gap: 3rem;
    }

    .first-paragraph-crew {
    margin-left: 0; 
    font-size: 1.4rem;
    margin-bottom: 2rem;
    }

    .crew-name {
    font-size: 2.7rem;
    }

    article p {
    margin-right: 0;
    font-size: 1.188rem;
    }

    .dot-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 4rem 0 2rem 0;
    }


    .crew-img {
    width: 400px;
    height: 550px;
    margin-inline: auto;
    }


}